@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
@import "util/variables";
@import "util/placeholders";

html {
  font-size: 62.5%;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  min-height: 100vh;
  background-image: $gradient-bg;
}

header {
  height: 22.2vw;
  display: flex;
  align-items: center;
  background-color: white;

  img {
    height: 6vw;
    padding-left: 8vw;
  }
}

.site-hero {
  background-image: url(./../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 66.66vw;
}

main {

  h1 {
    margin: 0 auto;
    margin-top: 17vw;
    margin-bottom: 4.4vw;
    font-size: 10.4vw;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
    color: $desaturated-red;
    letter-spacing: 2.66vw;
    line-height: 11.2vw;

    strong {
      font-weight: 600;
      color: $dark-red;
    }
  }

  p {
    margin: 0 auto;
    font-size: 3.7vw;
    font-weight: 400;
    line-height: 5.7vw;
    color: $desaturated-red;
    text-align: center;
    width: 82%;
    margin-bottom: 8.9vw;
  }

  form {
    margin: 0 auto;
    padding-bottom: 13.33vw;
    display: flex;

    input {
      margin: 0 auto;
      height: 12.7vw;
      width: 78%;
      border: .5px solid $desaturated-red;
      border-radius: 6.6vw;
      color: $desaturated-red;
      background-color: transparent;
      padding-left: 6vw;
      font-size: 4vw;

      &:focus {
        outline: 1px outset $desaturated-red;
      }


    }

    button {
      position: absolute;
      display: inline;
      right: 6.66vw;
      height: 12.7vw;
      width: 16vw;
      background-image: url(./../images/icon-arrow.svg), $gradient-button;
      border: none;
      border-radius: 6.6vw;
      background-position: center center;
      background-repeat: no-repeat;

      &:focus-visible {
        outline: 3px outset $desaturated-red;
      }
    }
  }
}

.attribution {
  font-size: 3.6vw;
  width: 100%;
  background-color: hsla(0, 100%, 100%, 80%);
  position: fixed;
  bottom: 0rem;
  text-align: center;
  color: $dark-red;
  padding: 3vw 0;

  a {
    color: $soft-red;
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
  html {
    min-height: 100vh;
    width: 100vw;
  }

  body {
    display: grid;
    grid-template-columns: 2.2fr 1.8fr;
    grid-template-rows: .8fr 3fr .2fr;
    background-image: none;
  }

  header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    height: auto;
    background-color: transparent;

    img {
      height: 2.3vw;
      padding-top: 0;
      padding-left: 11.4vw;
    }
  }

  .site-hero {
    background-image: url(./../images/hero-desktop.jpg);
    width: auto;
    height: auto;
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
  }

  .background {
    background-image: url(./../images/bg-pattern-desktop.svg), $gradient-bg;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
  }

  main {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding-left: 11.4vw;
    width: 82%;

    h1 {
      margin: 0;
      margin-top: 6vw;
      margin-bottom: 0;
      font-size: 4.4vw;
      width: 20vw;
      letter-spacing: 1vw;
      line-height: 4.5vw;
      text-align: left;
    }

    p {
      margin: 0;
      margin-bottom: 0;
      margin-top: 1.5vw;
      font-size: 1.1vw;
      line-height: 2vw;
      text-align: left;
    }

    form {
      margin: 0;
      margin-top: 3vw;
      padding-bottom: 0;
      display: block;

      input {
        height: 4vw;
        padding-left: 2vw;
        font-size: 1.2vw;
        width: 80%;
      }

      button {
        left: 35vw;
        height: 4vw;
        width: 7vw;
      }
    }
  }

  footer {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;

    .attribution {
      font-size: 1rem;
      position: static;
      background-color: transparent;
      text-align: center;
      padding: 1vw 0;
      width: auto;
    }
  }
}
